/* прибирання маркерів в списках */
.link {
  font-size: 10px;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: inherit;
}
.list {
  font-size: 14px;
  list-style: none;
  margin: 10px 0 0 10px;
  padding: 0;
  color: red;
}
/* .wrap {
  border: 3px solid red;
  margin: 15px 15px auto 15px;
  height: calc(100vh - 40px);
  position: relative;
} */
.button {
  background-color: blue;
  border-width: 0px;
  width: 20px;
  height: 10px;
  position: absolute;
}

.carusel {
  display: flex;
  border-radius: 20px;
  border-color: azure;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.carusel__container {
  overflow: hidden;
  width: 420px;
  margin: 0;
}
.carusel__arrow {
  border-color: transparent;
  border-radius: 50%;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
.carusel__list {
  width: 3000px;
  display: flex;
  gap: 10px;
  margin: 0;
  padding: 0;
  /* margin-left: -140px; */
  transition: transform 250ms;
}
.notransition {
  transition: transform 0ms;
}
.carusel__item {
  display: inline-block;
  width: 130px;
  height: 130px;
  border-radius: 15px;
  border-width: 0px;
  background-color: blueviolet;
}
.carusel__image {
  display: block;
  /* transform: translate(); */
}

.dom-list {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 15px;
  background-color: grey;
  width: 80vw;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
  list-style: none;
}

.dom-item {
  width: 15px;
  height: 15px;
  border-width: 0;
  background-color: black;
  transition: background-color 1500ms;
}
.dom-item:hover {
  transition-duration: 0s;
}
